@model WebPubApp.Publication

@{
    ViewBag.Title = "DisplayKeywords";
}

<h2>Publication's Keywords</h2>

<p>
    @Html.ActionLink(linkText: "Add keyword", actionName: "AddKeyword", routeValues: new { PMID = Model.PMID })
</p>
<table class="table">
    <tr>
        <th>
            Article keywords
        </th>
        <th></th>
    </tr>

@foreach (Keyword item in Model.Keywords) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Word)
        </td>
        <td>
            @Html.ActionLink(linkText: "Delete", actionName: "DeleteKeyword", routeValues: new { PMID = Model.PMID, wordId = item.ID })
        </td>
    </tr>
}
</table>
@Html.ActionLink("Back to publication", $"Edit/{Model.PMID}")
